<div class="carousel-medium">
  <button class="carousel-medium__arrow carousel-medium__arrow--left">&lt;</button>
  <div class="carousel-medium__container">
    <div class="carousel-medium__list is-animating">
      <div class="carousel-medium__item">
        <h1>3</h1>
      </div>
      <div class="carousel-medium__item">
        <h1>1</h1>
      </div>
      <div class="carousel-medium__item">
        <h1>2</h1>
      </div>
      <div class="carousel-medium__item">
        <h1>3</h1>
      </div>
      <div class="carousel-medium__item">
        <h1>1</h1>
      </div>
    </div>
  </div>
  <button class="carousel-medium__arrow carousel-medium__arrow--right">&gt;</button>
  <ul class="carousel-medium__indicators">
    <li class="carousel-medium__indicator"></li>
    <li class="carousel-medium__indicator"></li>
    <li class="carousel-medium__indicator"></li>
  </ul>
</div>
