<div class="carousel-easy">
  <div class="carousel-easy__container">
    <button id="pre" class="carousel-easy__arrow carousel-easy__arrow--left">&lt;</button>
    <button id="next" class="carousel-easy__arrow carousel-easy__arrow--right">&gt;</button>
    <div class="carousel-easy__item is-animating is-current">
      <h1>1</h1>
    </div>
    <div class="carousel-easy__item is-animating">
      <h1>2</h1>
    </div>
    <div class="carousel-easy__item is-animating">
      <h1>3</h1>
    </div>
  </div>
  <ul class="carousel-easy__indicators">
    <li class="carousel-easy__indicator"></li>
    <li class="carousel-easy__indicator"></li>
    <li class="carousel-easy__indicator"></li>
  </ul>
</div>
